{
  "singleQuote": true,
  "editor.formatOnSave": true,

  "[javascript]": {
    "editor.formatOnSave": true
  },
  "printWidth": 80,
  "trailingComma": "none",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "embeddedLanguageFormatting": "auto" 

}
