extends baseEmail

block content

    p Hi #{firstName},
    p You have requested to reset your password. Click on the following link to reset your password: # ${url}.
    p Not implemented yet, but this is where the password reset link would go.
    p If you have any questions, please contact us 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') reset your password
    p If you didn't request a password reset, please ignore this email.
    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - VISHAL KAJALES, CEO
    p Natours Inc, 123 Nowhere Road, San Francisco CA 99999
    p Don't like these emails?
    a(href='#') Unsubscribe
    p This email was sent to you because you are a registered user of Natours. If you no longer wish to receive these emails, please unsubscribe.
    p If you have any questions, please contact us at